<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>712957009704-9im38rfcpaqgfqih9ia05ubu3bhileu8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.712957009704-9im38rfcpaqgfqih9ia05ubu3bhileu8</string>
	<key>API_KEY</key>
	<string>AIzaSyC8Sf6QHI6laPOFD6Ue1JNRY3N9YrzvahQ</string>
	<key>GCM_SENDER_ID</key>
	<string>712957009704</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nfinitylabs.DyceApp</string>
	<key>PROJECT_ID</key>
	<string>dyce-69009</string>
	<key>STORAGE_BUCKET</key>
	<string>dyce-69009.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:712957009704:ios:677d5ca4cd7ffa9a</string>
	<key>DATABASE_URL</key>
	<string>https://dyce-69009.firebaseio.com</string>
</dict>
</plist>